* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background: #3a9abd;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    justify-content: start;
    display: flex;
    align-items: center;
    padding: 10px 10%;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding-left: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    color: white;
    height: 60px;
    text-align: center;
    padding: 1em;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: auto;
    bottom: -10px;
}

.logo {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin-right: auto;
    margin-left: 10px !important;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

.logo a {
    color: white;
}

.logo a:hover {
    text-decoration: none;
}

.nav_links {
    list-style: none;
    display: flex;
    flex: 2;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.nav_links li {
    padding: 0 20px;
    border-right: 1px solid white;
}

.nav_links li:last-child {
    border-right: none;
    margin-right: 70px;
}

.nav_links li a {
    color: aliceblue;
    text-decoration: none;
    transition: text-shadow 0.3s, transform 0.3s;
}

.nav_links li a:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    transform: scale(1.5);
}

.buttons {
    width: 10%;
    height: 40px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
    position: absolute;
    top: 3px;
    right: 0;
    margin: 10px;
}

.icon-large {
    font-weight: bold;
}

.buttons:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    background-color: #00b0ff;
    color: white;
}

.color-option {
    width: 30px;
    height: 30px;
    border: 1px solid #969696;
    display: inline-block;
    margin: 6px;
    cursor: pointer;
    border-radius: 5px;
}

.color-option:hover {
    opacity: 0.8;
}

.selected {
    border: 2px solid black;
}

.footer-wrapper {
    flex: 1;
    flex-shrink: 0;
    border-color: #333333;
}
.modal-footer{
    display: flex;
    justify-content: space-between;
}
.close-btn{
    background-color: #FF5733;
}
.close-btn:hover{
    background-color: #bb4429;
}
.new-folder {
    width: 300px;
    height: 200px;
    background: linear-gradient(145deg, rgba(154, 154, 154, 0.1), rgba(201, 201, 201, 0.2));
    backdrop-filter: blur(5px);
    border: 1px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
    margin: 32px;
    font-size: 38px;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease, backdrop-filter 0.3s ease;
}

.new-folder:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(1px);
    transform: scale(1.05);
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.9);
}

.new-folder text{
    vertical-align: middle;

}

.small-rectangle {
    height: 40px;
    width: 100%;
    background-color: #6e6e6e;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #6e6e6e;
    color: white;
    position: absolute;
    top: 0;
}



